In [5]:
def double(x):
    return x * 2

def apply_to_one(f):
    return f(1)

In [12]:
my_double = double
x = apply_to_one(my_double)
y = apply_to_one(lambda x: x + 4)

In [14]:
def another_double(x):
    return 2 * x

In [15]:
def my_print(message = "my default message"):
    print(message)

In [17]:
my_print("hello")
my_print()

hello
my default message

In [18]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

In [20]:
print(full_name("Joel", "Grus"))
print(full_name("Joel"))
print(full_name(last="Grus"))

Joel Grus
Joel Something
What's-his-name Grus

In [21]:
single_quoted_string = 'data science'
double_quoted_string = "data science"
tab_string = "\t"
len(tab_string)

1

In [22]:
not_tab_string = r"\t"
len(not_tab_string)

2

In [23]:
multi_line_string = """This is the first line.
and this is the second line.
and this is the third line."""

first_name = "Joel"
last_name = "Grus"

full_name1 = first_name + " " + last_name            # string addition
full_name2 = "{0} {1}".format(first_name, last_name) # string.format
full_name3 = f"{first_name} {last_name}"             # f-string format

In [24]:
print(full_name1)
print(full_name2)
print(full_name3)

Joel Grus
Joel Grus
Joel Grus

In [25]:
try:
    print(0/0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [27]:
x = [1,2,3]

In [29]:
x = x + [4,5,6]

In [31]:
x, y = [1,2]
print(x)
print(y)

1
2

In [37]:
my_list = [1,2]
my_tuple = (1,2)
other_tuple = 3,4

In [38]:
print(my_list)
print(my_tuple)
print(other_tuple)

[1, 2]
(1, 2)
(3, 4)

In [39]:
my_list[1] = 3
print(my_list)

[1, 3]

In [41]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [50]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3)
print(sp)

s, p = sum_and_product(5, 10)
print(s, p)

(5, 6)
15 50

In [51]:
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel": 80, "Tim": 95}

In [53]:
joels_grade = grades["Joel"]
print(joels_grade)

80

In [55]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [58]:
joel_has_grade = "Joel" in grades
kate_has_grade = "Kate" in grades
print(joel_has_grade)
print(kate_has_grade)

True
False

In [61]:
joels_grade = grades.get("Joel", 0)
kates_grade = grades.get("Kate", 0)
no_ones_grade = grades.get("No One")
print(joels_grade)
print(kates_grade)
print(no_ones_grade)

80
6
None

In [64]:
grades

{'Joel': 80, 'Tim': 95}

In [65]:
grades["Tim"] = 99
grades["Kate"] = 100
num_students = len(grades)
print(num_students)

3

In [66]:
grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [69]:
tweet = { 
    "user" : "joelgrus", 
    "text" : "Data Science is Awesome", 
    "retweet_count" : 100, 
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"] 
}

In [70]:
tweet_keys = tweet.keys()
tweet_values = tweet.values()
tweet_items = tweet.items()

In [76]:
print(tweet_keys)

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [78]:
print(tweet_values)

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [80]:
print(tweet_items)

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [83]:
"joelgrus" in tweet.values()

True

In [1]:
from collections import defaultdict, Counter

In [8]:
x = [4,1,2,3]

In [9]:
x.sort()
x

[1, 2, 3, 4]

In [11]:
y = sorted(x)
y

[1, 2, 3, 4]

In [10]:
x.reverse()
x

[4, 3, 2, 1]

In [14]:
y = sorted(x, reverse=True)
y

[4, 3, 2, 1]

In [16]:
y = reversed(x)
y

In [24]:
even_numbers = [x for x in range(5) if x % 2 == 0]
print(even_numbers)

[0, 2, 4]

In [25]:
squares = [x * x for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [27]:
even_squares = [x * x for x in even_numbers]
print(even_squares)

[0, 4, 16]

In [29]:
square_dict = {x: x * x for x in range(5)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [35]:
import math
square_dict2 = {int(math.sqrt(x)): x for x in squares}
print(square_dict2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [36]:
pairs = [(x, y)
        for x in range(10)
        for y in range(10)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [40]:
increasing_pairs = [(x, y)
                   for x in range(10)
                   for y in range(x + 1, 10)]
print(increasing_pairs)

[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 6), (5, 7), (5, 8), (5, 9), (6, 7), (6, 8), (6, 9), (7, 8), (7, 9), (8, 9)]

In [42]:
assert 1 + 1 == 2

In [46]:
assert 1 + 1 == 2 , "1 + 1 should equal 2 but didn't"

In [47]:
def smallest_item(xs):
    return min(xs)

In [51]:
assert smallest_item([10, 20, 5, 40]) == 5

In [53]:
assert smallest_item([1, 0, -1, 2]) == -1

In [61]:
def smallest_item2(xs): 
    assert xs, "empty list has no smallest item" 
    return min(xs)

In [28]:
class CounterClicker:
    def __init__(self, count = 0):
        self.count = count
        
    def __repr__(self):
        return f"CountingClicker(count={self.count})"
    
    def click(self, num_times = 1):
        self.count += num_times
        
    def read(self):
        return self.count
    
    def reset(self):
        self.count = 0

In [15]:
clicker2 = CounterClicker(100)
repr(clicker2)

'CountingClicker(count=100)'

In [29]:
clicker = CounterClicker()
clicker.read()

0

In [30]:
assert clicker.read() == 0
clicker.click() == 0
clicker.click()
clicker.read()

2

In [31]:
clicker.reset()
clicker.read()

0

In [32]:
class NoResetClicker(CounterClicker):
    def reset(self):
        pass

In [33]:
clicker2 = NoResetClicker()
clicker2.read()

0

In [34]:
clicker2.click()
clicker2.read()

1

In [35]:
clicker2.reset()
clicker2.read()

1

In [36]:
def generate_range(n):
    i = 0
    while i < n:
        yield i
        i += 1
        
for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [37]:
def natural_numbers():
    n = 1
    while True:
        yield n
        n += 1

In [38]:
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)

In [ ]:
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
even_squares = (x ** 2 for x in evens)
even_squares ending in six = (x for x in even_squares if x % 10 == 6)

In [41]:
names = ["Alice", "Bob", "Charlie", "Debbie"]

for i in range(len(names)):
    print(f"name {i} is {names[i]}")
print("")

i = 0
for name in names:
    print(f"name {i} is {names[i]}")
    i += 1
print("")

for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

In [42]:
import random
random.seed(10)

In [43]:
four_uniform_randoms = [random.random() for _ in range(4)]
print(four_uniform_randoms)

[0.5714025946899135, 0.4288890546751146, 0.5780913011344704, 0.20609823213950174]

In [44]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)

[2, 6, 7, 10, 4, 9, 1, 3, 5, 8]

In [45]:
up_to_ten.sort()
print(up_to_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
random.shuffle(up_to_ten)
print(up_to_ten)

[7, 4, 10, 2, 8, 5, 9, 3, 1, 6]

In [49]:
up_to_ten.sort(reverse = True)
print(up_to_ten)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)
print(winning_numbers)

[49, 55, 15, 28, 39, 24]

In [51]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement)

[0, 9, 0, 3]

In [52]:
import re

In [53]:
re.split("[ab]", "carbs")

['c', 'r', 's']

In [54]:
len(re.split("[ab]", "carbs"))

3

In [55]:
re.sub("[0-9]", "-", "R2D2")

'R-D-'

In [13]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

pairs = [pair for pair in zip(list1, list2)] # List comprehension ??
print(pairs)

[('a', 1), ('b', 2), ('c', 3)]

In [14]:
letters, numbers = zip(*pairs) # '"*"" performs argument unpacking
print(letters, numbers)

('a', 'b', 'c') (1, 2, 3)

In [19]:
letters2, numbers2 = zip(('a', 1), ('b', 2), ('c', 3))
print(letters2, numbers2)

('a', 'b', 'c') (1, 2, 3)

In [20]:
def add(a,b):
    return a + b

In [21]:
add(1,2)

3

In [30]:
try:
    add([1, 2])
except TypeError:
    print("add expects two inputs")
add(*[1, 2])

add expects two inputs

3

In [31]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

def f1(x):
    return x + 1

g = doubler(f1)

In [35]:
g(3)

8

In [36]:
def f2(x, y):
    return x + y

g = doubler(f2)

In [38]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

In [39]:
magic(1, 2, key="word", key2="word2")

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [40]:
def magic2(args, kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

In [42]:
magic2(1, 2)

unnamed args: 1
keyword args: 2

In [43]:
def other_way_magic(x, y, z):
    return x + y + z

In [44]:
x_y_list = [1, 2]
z_dict = {"z": 3}
other_way_magic(*x_y_list, **z_dict) == 6, "1 + 2 + 3 should be 6"

(True, '1 + 2 + 3 should be 6')

In [47]:
def doubler_correct(f):
    def g(*args, **kwargs):
        return 2 * f(*args, **kwargs)
    return g

g = doubler_correct(f2)
g(1, 2)

6

In [48]:
def add(a, b):
    return a + b

In [49]:
add(10, 5)

15

In [50]:
add([1, 2], [3])

[1, 2, 3]

In [51]:
add("hi ", "there")

'hi there'

In [53]:
try:
    add(10, "five")
except TypeError:
    print("Cannot add an int to a string")

Cannot add an int to a string

In [54]:
def add2(a: int, b: int) -> int:
    return a + b

In [55]:
add2(10, 5)

15

In [56]:
add2("hi ", "there")

'hi there'

In [58]:
x: int = 5
x

5

In [61]:
from typing import Callable

# The type hint says that repeater is a function that takes
# two arguments, a string and an int, and returns a string.
def twice(repeater: Callable[[str, int], str], s: str) -> str:
    return repeater(s, 2)

def comma_repeater(s: str, n: int) -> str:
    n_copies = [s for _ in range(n)]
    return ', '.join(n_copies)

assert twice(comma_repeater, "type hints") == "type hints, type hints"